.w_2 {
    width: 2%;
}

.w_5 {
    width: 5%;
}

.w_10 {
    width: 10%;
}

.w_15 {
    width: 15%;
}

.filter {
    filter: invert(100%);
}

.bg_better {
    background-color: rgb(26, 188, 156);
}

.bg_ocean {
    background-color: rgb(58, 84, 109);
}

.bg_ocean_dark {
    background-color: rgb(44, 62, 80);
}

.text_better {
    color: rgb(26, 188, 156);
}

#download {
    width: 10%;
}

#facebook {
    width: 4%;
}

#googleplus {
    width: 5%;
}

#twitter {
    width: 5%;
}

#linkedin {
    width: 5%;
}

@media screen and (min-width: 576px) {
    #avatar {
        width: 50%;
    }

    #star {
        width: 3%;
    }

    .line {
        width: 5%;
    }

    #download {
        width: 15%;
    }

    #facebook {
        width: 6%;
    }

    #googleplus {
        width: 6%;
    }

    #twitter {
        width: 6%;
    }

    #linkedin {
        width: 6%;
    }
}

@media screen and (min-width: 992px) {
    #avatar {
        width: 25%;
    }

    #star {
        width: 3%;
    }

    .line {
        width: 5%;
    }

    #download {
        width: 10%;
    }

    #facebook {
        width: 5%;
    }

    #googleplus {
        width: 5%;
    }

    #twitter {
        width: 5%;
    }

    #linkedin {
        width: 5%;
    }
}